.gameInfoContainer {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 800px;
    width: 300px;
}

.gameInfo {
    position: absolute;
    top: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameInfo h3 {
    color: red;
    margin: 10px 0;
}

.gamePause { 
    color: red;
    font-style: italic;
} 

.gameStart {
    color: green;
    font-style: italic;
}