.lottieBulldog {
    position: absolute;
    height: 200px;
    width: 200px;
    left: 2vw;
    top: 10vh;
    transition: all 0.3s ease-in-out;
}

.lottieBulldog:hover {
    cursor: pointer;
    transform: scale(1.05);
}